.btn {
    position: relative;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 52px;
    color: white;
    margin: 3px 0 10px;
    transition: background-color .5s;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    }
}

.btn-link, .btn-linkit {
    @include theme-color($blue, bg);
}

.btn-link, .btn-refresh {
    .fas {
        position: absolute;
        left: 70px;
    }
}

.btn-refresh {
    @include theme-color($green, bg);
}

.btn-past-email {
    width: 290px;
    height: 42px;
    border: none;
    border-radius: 3px;
    color: $white;
    margin: 0 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include theme-color($green, bg);

    &:hover {
        cursor: pointer;
    }
}

.btn-cancel {
    @include theme-color($red, bg)
}

.loading {
    background-color: $text-lighter;
    transition: background-color .5s;
    &:hover {
        background-color: $text-lighter;
        cursor: default;
    }
}