.btn {
    position: relative;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 52px;
    color: white;
    margin: 3px 0 10px;
    transition: background-color .5s;

    &:hover {
        cursor: pointer;
    }

    .fas {
        position: absolute;
        left: 70px;
    }

}

.btn-link {
    @include theme-color($blue, bg);
}

.btn-refresh {
    @include theme-color($green, bg);
}

.loading {
    background-color: $text-lighter;
    transition: background-color .5s;
    &:hover {
        background-color: $text-lighter;
        cursor: default;
    }
}