#modal-link-box {
    display: none;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    #pointer {
        position: absolute;
        right: 0;
        bottom: 140px;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 2001;
        width: 20px;
        height: 20px;
        transform: rotate(-45deg);
        background: linear-gradient(45deg, rgba(107, 107, 107, .9) 50%, transparent 50%);
        @include mq('md') {
            right: 160px;
            bottom: 80px;
        }
        @include mq('lg') {
            top: 123px;
            left: 295px;
            right: auto;
            bottom: auto;
            margin-right: 0;
            margin-left: 0;
            transform: rotate(45deg);
        }
    }
    
    #link-input {
        position: absolute;
        z-index: 2000;
        right: 0;
        bottom: 150px;
        left: 0;
        background-color: rgba(107, 107, 107, .9);
        width: 300px;
        border-radius: 3px;
        padding: 5px;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        @include mq('md') {
            bottom: 90px;
        }
        @include mq('lg') {
            top: 108px;
            right: auto;
            bottom: auto;
            left: 305px;
            margin-right: 0;
            margin-left: 0;
        }
    
        label {
            display: block;
            font-size: 16px;
            font-weight: bold;
            color: $white;
            margin: 0;
            padding: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    
        #past-email {
            display: none;
        }
    
        #new-email {
            #user-email-field {
                width: 290px;
                height: 42px;
                border-radius: 3px;
                line-height: 1.15;
                border: none;
                background-color: $white;
                margin-bottom: 10px;
                color: $text-primary;
                text-align: center;
        
                &::placeholder {
                    color: rgba(0, 0, 0, .25);
                }

                &:focus {
                    outline: none;
                    border: 1px solid map-get($green, "default");
                    box-shadow: 0 0 3px map-get($green, "default");
                }
            }
    
            #input-buttons {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
        }

        #status.success {
            color: map-get($green, "default");
        }

        #status.fail {
            color: map-get($red, "default");
        }
    }
}