footer {
    display: none;
    font-size: 14px;
    color: $text-lighter;

    @include mq('lg') {
        display: block;
    }

    ul {
        text-align: center;

        a, a:visited {
            padding: 0 !important;
            display: inline !important;
            color: $text-primary !important;
            text-decoration: underline !important;
            text-decoration-style: dotted !important;
        }
    }
}