footer {
    font-size: 14px;
    color: #8b8b8b;
    ul {
        text-align: center;
        a, a:visited {
            color: #6b6b6b;
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }
}