footer {
    display: none;
    font-size: 14px;
    color: $text-lighter;

    @include mq('md') {
        display: block;
    }

    ul {
        text-align: center;

        a, a:visited {
            color: $text-primary;
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }
}