header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    height: 100px;
    padding: 10px 20px;
    background: linear-gradient(to top, $bg-dark 0%, lighten($bg-dark, 1%) 50%, $bg-dark 100%);
    @include mq('md') {
        justify-content: flex-start;
        padding: 10px 20px 10px 0;
    }

    #header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-right: 8px;
        @include mq('md') {
            width: 300px;
        }

        i {
            font-size: 42px;
            color: $white;
            margin-right: 8px;
        }
    }

    #tagline {
        display: none;
        color: $text-lightest;
        margin-top: 10px;
        @include mq('md') {
            display: inline;
        }
    }
}