header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    height: 100px;
    padding: 10px 0 10px 20px;
    background: linear-gradient(to top, $bg-dark 0%, lighten($bg-dark, 1%) 50%, $bg-dark 100%);
    @include mq('md') {
        padding: 10px 20px;
    }
    @include mq('lg') {
        justify-content: space-between;
        padding: 10px 20px 10px 0;
    }

    #header-main {
        display: flex;
        align-items: center;
        width: max-content;
        margin-left: 50px;
        @include mq('lg') {
            margin-left: 0;
        }

        #header-title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            margin-right: 8px;
            @include mq('lg') {
                width: 300px;
            }
    
            i {
                font-size: 42px;
                color: $white;
                margin-right: 8px;
            }
        }
    
        #tagline {
            display: none;
            color: $text-lightest;
            margin-top: 10px;
            @include mq('lg') {
                display: inline;
            }
        }
    }

    #sidemenu-button {
        position: relative;

        .notification::before {
            display: block;
            content: "";
            position: absolute;
            top: 8px;
            right: 10px;
            z-index: 10;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: map-get($red, 'default');
            box-shadow: 0 0 5px rgba(236, 55, 70, 0.9);
        }
    }
}