#photo-area {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    height: calc(100vh - 367px);
    @include mq('sm') {
        height: calc(100vh - 302px);
    }
    @include mq('md') {
        order: 2;
        height: calc(100vh - 100px);
    }

    #img-container {
        display: flex;
        justify-content: center;
        padding: 8px;
        max-width: 100%;
        max-height: 100%;

        #loaded-img {
            display: none;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
        }

        #error {
            width: 100vw;
            text-align: center;
            @include mq('md') {
                width: calc(100vw - 300px)
            }

            span {
                @include theme-color($red, font);
            }
        }
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin: auto;

        #img-container {
            max-height: calc(100vh - 367px);
            @include mq('sm') {
                max-height: calc(100vh - 302px);
            }
            @include mq('md') {
                order: 2;
                max-height: calc(100vh - 100px);
            }
            #loaded-img {
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: calc(100vh - 367px - 16px);
                @include mq('sm') {
                    max-height: calc(100vh - 302px - 16px);
                }
                @include mq('md') {
                    order: 2;
                    max-height: calc(100vh - 100px - 16px);
                }
            }
        }
    }
}