#photo-area {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: calc(100vh - 367px);
    padding: 0 4px;
    margin: auto 0;
    overflow: auto;
    @include mq('md') {
        height: calc(100vh - 302px);
    }
    @include mq('lg') {
        order: 2;
        height: calc(100vh - 100px);
    }

    #img-container {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        padding: 8px;

        #loaded-img {
            display: none;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        #column {
            &-1, &-2 {
                display: flex;
                flex-direction: column;
                max-width: 50%;
                padding-right: 5px;

                .linked-img {
                    width: 100%;
                    margin-bottom: 1px;

                    .loaded-linked-img {
                        width: 100%;
                        transition: .5s ease-in-out;

                        &:hover {
                            opacity: .8;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }

            &-2 {
                padding-right: 0;
            }
        }

        #error {
            width: 100vw;
            text-align: center;
            @include mq('lg') {
                width: calc(100vw - 300px);
            }

            span {
                @include theme-color($red, font);
            }
        }
    }

    /* Internet Explorer image scaling */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin: auto;

        #img-container {
            max-height: calc(100vh - 367px);
            @include mq('md') {
                max-height: calc(100vh - 302px);
            }
            @include mq('lg') {
                order: 2;
                max-height: calc(100vh - 100px);
            }

            #loaded-img {
                max-height: calc(100vh - 367px - 16px);
                width: 100%;
                height: 100%;
                @include mq('md') {
                    max-height: calc(100vh - 302px - 16px);
                }
                @include mq('lg') {
                    max-height: calc(100vh - 100px - 16px);
                }
            }

            #column {
                &-1, &-2 {
                    width: calc((100vw - 18px) / 2);
                    @include mq('lg') {
                        width: calc((100vw - 318px) / 2);
                    }
    
                    .linked-img {
                        min-height: 1px;
    
                        .loaded-linked-img {
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}