#sidebar {
    order: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    height: auto;
    background-color: $bg-light;
    padding: 5px;
    @include mq('lg') {
        order: 1;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
    }

    #sidebar-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        margin: auto;
        @include mq('sm') {
            width: 290px;
        }
        @include mq('md') {
            width: 340px;
        }
        @include mq('lg') {
            width: 100%;
            margin: 0;
        }

        #sidebar-buttons {
            order: 2;
            display: block;
            @include mq('md') {
                display: flex;
                justify-content: space-between;
            }
            @include mq('lg') {
                order: 1;
                display: block;
            }
        }

        #photo-info {
            order: 1;
            @include mq('lg') {
                order: 2;
                width: 100%;
            }

            #photo-heading {
                display: flex;
                align-items: center;
                margin-top: 10px;
                @include mq('lg') {
                    display: block;
                    margin-top: 0;
                }

                #photo-id {
                    display: flex;
                    align-items: center;

                    h2 {
                        display: inline-block;
                        margin: 5px 10px 5px 0;
                        @include mq('lg') {
                            margin: 20px 10px 20px 0;
                        }
                    }
                    span {
                        border: 2px solid rgba(0, 0, 0, .2);
                        border-radius: 3px;
                        padding: 0 5px;
                        background-color: $white;
                        color: $text-lighter;
                        font-size: 18px;
                    }
                }

                #links-count {
                    margin-left: 20px;
                    @include mq('lg') {
                        margin: 0;
                    }
                }
            }

            li {
                line-height: 1.5em;

                .fa-user-circle {
                    margin-right: 5px;
                }

                .fa-unsplash {
                    margin-right: 6.5px;
                }

                a {
                    text-decoration: none;
                    @include theme-color($blue, font);
                }
            }
        }
    }
}