* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

body {
    font-family: $body;
    color: $text-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

main {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

h1 {
    font-family: $heading;
    font-size: 42px;
    color: $white;
    margin: 0;
    text-shadow: 0 0 5px $white;
    &:hover {
        cursor: default;
    }
}

ul {
    list-style: none;
    padding: 0;
}