// Media Queries mixin
@mixin mq($break) {
    $value: map-get($breakpoints, $break);
    $md: map-get($breakpoints, 'md');

    @if $value == null {
        @warn '"#{$break}" is not a valid breakpoint name.'

    } @else if $value < $md {
        @media (max-width: $value) {
            @content;
        }
        
    } @else {
        @media (min-width: $value) {
            @content;
        }
      }
  }

// Theme Color mixin
// Sets default and hover state colours
@mixin theme-color($map, $type: bg) {
    @if $type == bg {
        background-color: map-get($map, 'default');

        &:hover {
            background-color: map-get($map, 'hover');
        }

    } @else if $type == font {
        color: map-get($map, 'default');
        
        &:hover {
            color: map-get($map, 'hover');
        }

    } @else {
        @error 'Unknown property "#{$type}" Use one of the following properties: bg, font';
    }
}